<div class="web-view">
<div class="row">
    <div class="col-5 d-flex justify-content-end" >
    <!-- <img class="left_side_stairs" src="assets/fullscreen_cricket/left_side_leader_board.png"/> -->
    <div class="col-12 left_side_stair" style="background-size: 100% 100%;">
      
      <mat-card class="top_5_leaderboard">

      </mat-card>
      <mat-card class="top_5_leaderboard_second">

      </mat-card>
      <mat-card class="top_5_leaderboard_second">

      </mat-card>
      <mat-card class="top_5_leaderboard_second">

      </mat-card>
      <mat-card class="top_5_leaderboard_second">

      </mat-card>
    </div>
    
    <div class="d-flex">
      <img class="tile_6" src="./../../assets/fullscreen_cricket/Cricket tile_no_6.svg"/>
    </div>
    </div>
   
    <!-- <div class="col-7 d-flex justify-content-center align-items-center">
      <img class="right_profile_side" src="assets/fullscreen_cricket/profile_background.svg"/>  

    </div> -->
</div>
</div>