<div class="main-div" style="background: url({{this.themeDetails.big_card_image}});">
    <div class="Top_ten_title">
        {{label}}
    </div>
    <div class="main_container" >
        <div class="card_container">
            <div class="" *ngFor="let Player of ranking_data;let i=index" >
                <div *ngIf="i<5"  [ngClass]="i != index?'emerging_card':'emerging_card_expanded'" style="background: url({{themeDetails.score_background_image}});background-size: 100% 100%;
                background-repeat: no-repeat;
                height: 55vh;
                width: 18vw;">
                    <div class="rank">
                        {{i+1|ordinals}} Place
                    </div>
                    <div class="profile_image">
                        <img src="{{Player.profile_logo}}" alt="profile_image" height="100%" width="100%">
                    </div>
                    <div class="profile_name">
                        {{Player.first_name}}
                    </div>
                    <div class="profile_team_name">
                        {{Player.team_name}}
                    </div>
                    <div class="profile_points">
                        <div class="fair_playPoints">{{Player.weightage}}</div>
                        <div class="text_fair_play_points">Fair Play Points</div>
                    </div>
        
                    <div class="growth_percentage">
                        <div *ngIf="Player.arrow_color=='green';then upArrow else downArrow"></div>
                        <ng-template #upArrow>
                            <img src="assets/fullscreen_cricket/arrowUp.png" alt="">
                        </ng-template>
                        <ng-template #downArrow>
                            <img src="assets/fullscreen_cricket/arrowDown.png" alt="">
                        </ng-template>
                        {{Player.growth_percentage}}%
        
                    </div>
                </div>
                
                
    
            </div>
        </div>
        
        <div   class="bottom_5Card">
            <div  class="bottom_card"  *ngFor="let Bottomplayer of ranking_data;let index=index">
                <div class="smallCard col-4" *ngIf="index>=5" style="background:url({{this.themeDetails.small_card_image}});background-size: 100% 100%;min-width:32vw;" >
               
                    <div class="small_rank">{{index+1}}</div>
                    <div class="small_name">{{Bottomplayer.first_name}}</div>
                    <div class="growth_small">
                        <div *ngIf="Bottomplayer.arrow_color=='green';then upArrow else downArrow"></div>
                        <ng-template #upArrow>
                            <img src="assets/fullscreen_cricket/arrowUp.png" alt="">
                        </ng-template>
                        <ng-template #downArrow>
                            <img src="assets/fullscreen_cricket/arrowDown.png" alt="">
                        </ng-template>
                        
                        {{Bottomplayer.growth_percentage}}%
                    </div>
                    <div class="bottomFairPlayPoints">
                        <div class="bottom_points">{{Bottomplayer.weightage}}</div>
                        <div class="bottom_fairPlayText">Fair Play Points</div>
                    </div>
        
        
                </div>
                
            </div>
            
        </div>

        
    </div>
    
   
</div>