<div class="web_view">

    <div class="title">
        <h5 class="title_description">Top 10 Wickets Taken by Players</h5>
    </div>

    <div class="upper-animated-card">
        <mat-card class="animated_transparent_card">
            <mat-card class="upper_animated_card_move">
                <div class="row">
                    <div class="col-1">
                        <span class="upper_animated_hex1" ></span>
        
                    </div>
                    <div class="col-6 upper_name_div">
                     <p class="upper_animated_name">Syed Mujtaba Hussein Kirmani</p>
        
                    </div>
                    <div class="col-3 team_div">
                        <p class="upper_animated_team">Black Panthers</p>
           
                       </div>
                       <div class="col-2 score_div">
                        <p class="upper_animated_score">45678</p>
           
                       </div>
                </div>
            </mat-card>
        </mat-card>
       
    </div>

<div class="upper_five_cards">

    <!-- <div class="upper-animated-card">
        <mat-card class="upper_animated_card_move">
            <div class="row">
                <div class="col-1">
                    <span class="upper_animated_hex1" ></span>
    
                </div>
                <div class="col-6 name_div">
                 <p class="upper_animated_name">Syed Mujtaba Hussein Kirmani</p>
    
                </div>
                <div class="col-3 team_div">
                    <p class="upper_animated_team">Black Panthers</p>
       
                   </div>
                   <div class="col-2 score_div">
                    <p class="upper_animated_score">45678</p>
       
                   </div>
            </div>
        </mat-card>
    </div> -->
<!------------------------------------------------ First Card  ---------------------------------------------------->
<div class="animated_card_div">
    <mat-card class="animated_card">
        <div class="row">
            <div class="col-1">
                <span class="hex1" ></span>

            </div>
            <div class="col-6 name_div">
             <p class="name">Syed Mujtaba Hussein Kirmani</p>

            </div>
            <div class="col-3 team_div">
                <p class="team">Black Panthers</p>
   
               </div>
               <div class="col-2 score_div">
                <p class="score">45678</p>
   
               </div>
        </div>
        
    </mat-card>
</div>
<!------------------------------------------------ Second Card  ---------------------------------------------------->

<div class="animated_card_div">
    <mat-card class="animated_card">
        <div class="row">
            <div class="col-1">
                <span class="hex1" ></span>

            </div>
            <div class="col-6 name_div">
             <p class="name">Chetandra Pratap Singh Chauhan</p>

            </div>
            <div class="col-3 team_div">
                <p class="team">Dominators </p>
   
               </div>
               <div class="col-2 score_div">
                <p class="score">43210</p>
   
               </div>
        </div>
        
    </mat-card>
</div>

<!------------------------------------------------ Third Card  ---------------------------------------------------->

<div class="animated_card_div">
    <mat-card class="animated_card">
        <div class="row">
            <div class="col-1">
                <span class="hex1" ></span>

            </div>
            <div class="col-6 name_div">
             <p class="name">Roger Michael Humphrey Binny</p>

            </div>
            <div class="col-3 team_div">
                <p class="team">High Voltage </p>
   
               </div>
               <div class="col-2 score_div">
                <p class="score">41098</p>
   
               </div>
        </div>
        
    </mat-card>
</div>

<!------------------------------------------------ Forth Card  ---------------------------------------------------->

<div class="animated_card_div">
    <mat-card class="animated_card">
        <div class="row">
            <div class="col-1">
                <span class="hex1" ></span>

            </div>
            <div class="col-6 name_div">
             <p class="name">Bapu Krishnarao Venkatesh Prasad</p>

            </div>
            <div class="col-3 team_div">
                <p class="team">One Shot Killers </p>
   
               </div>
               <div class="col-2 score_div">
                <p class="score">39988</p>
   
               </div>
        </div>
        
    </mat-card>
</div>

<!------------------------------------------------ Fifth Card  ---------------------------------------------------->

<div class="animated_card_div">
    <mat-card class="animated_card">
        <div class="row">
            <div class="col-1">
                <span class="hex1" ></span>

            </div>
            <div class="col-6 name_div">
             <p class="name">Erapalli Anantharao</p>

            </div>
            <div class="col-3 team_div">
                <p class="team">Royal Challengers </p>
   
               </div>
               <div class="col-2 score_div">
                <p class="score">37890</p>
   
               </div>
        </div>
        
    </mat-card>
</div>

</div>


<div class="lower_five_cards">
    <mat-card class="lower_mat_card">
        
        <div class="row">
            <div class="col-1">
               <p class="lower_rank">6</p> 
            </div>

            <div class="col-6">
                <p class="lower_player_name">Player Name</p> 
             </div>

             <div class="col-3">
                <p class="lower_team_name">Team Name</p> 
             </div>

             <div class="col-2">
                <p class="lower_score">000000</p> 
             </div>
        </div>


        <div class="row mt-1">
            <div class="col-1">
               <p class="lower_rank">7</p> 
            </div>

            <div class="col-6">
                <p class="lower_player_name">Player Name</p> 
             </div>

             <div class="col-3">
                <p class="lower_team_name">Team Name</p> 
             </div>

             <div class="col-2">
                <p class="lower_score">000000</p> 
             </div>
        </div>

        <div class="row mt-1">
            <div class="col-1">
               <p class="lower_rank">8</p> 
            </div>

            <div class="col-6">
                <p class="lower_player_name">Player Name</p> 
             </div>

             <div class="col-3">
                <p class="lower_team_name">Team Name</p> 
             </div>

             <div class="col-2">
                <p class="lower_score">000000</p> 
             </div>
        </div>

        <div class="row mt-1">
            <div class="col-1">
               <p class="lower_rank">9</p> 
            </div>

            <div class="col-6">
                <p class="lower_player_name">Player Name</p> 
             </div>

             <div class="col-3">
                <p class="lower_team_name">Team Name</p> 
             </div>

             <div class="col-2">
                <p class="lower_score">000000</p> 
             </div>
        </div>


        <div class="row mt-1">
            <div class="col-1">
               <p class="lower_rank">10</p> 
            </div>

            <div class="col-6">
                <p class="lower_player_name">Player Name</p> 
             </div>

             <div class="col-3">
                <p class="lower_team_name">Team Name</p> 
             </div>

             <div class="col-2">
                <p class="lower_score">000000</p> 
             </div>
        </div>
    </mat-card>
</div>
</div>